<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Biom3d</string>

    <key>CFBundleDisplayName</key>
    <string>Biom3d</string>

    <key>CFBundleExecutable</key>
    <string>Biom3d.sh</string>

    <key>CFBundleIdentifier</key>
    <string>com.github.GuillaumeMougeot.biom3d</string>

    <key>CFBundleVersion</key>
    <string>0.0.30</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleIconFile</key>
    <string>Biom3d</string> 
  </dict>
</plist>
